body {
    background-image: url("background.png");
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

header {
    height: 80px;
    width: 100%;
    /* border: 1px red solid; */
    display: inline-block;
}

img {
    display: inline-block;
    margin: 15px 80px;
    /* border: 1px red solid; */
}


.navbar {
    float: right;
}

ul {
    margin-right: 30px;
}
ul li{
    display: inline-block;
    margin: 30px 15px;
    font-size: small;
    color: #ccc;
}

main {
    width: 80%;
    margin: 280px auto;
}

section h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

section h6 {
    font-size: 20px;
    text-align: center;
    color: #ccc;
}

.button {
    background-color: hsl(189, 93%, 46%);
    border: none;
    border-radius: 2px;
    display: block;
    margin: 10px auto;
    color: white;
    width: 200px;
    height: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
